.banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 100vh;
	position: relative;
}

.left {
	display: grid;
	grid-template-rows: 3fr 1fr;
	width: 100%;
}

.top {
	background-color: #ced7de;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 3rem;
}

.right {
	display: grid;
	grid-template-rows: 1fr 3fr;
	width: 100%;
}

.bottom {
	background-color: #e8cfd3;
}

.title {
	font-size: 140px;
	font-family: "Cinzel";
	font-weight: 600;
	background: linear-gradient(to right, white 55%, #36677f 50%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: typing 2s forwards 2s steps(70, end);
	white-space: nowrap;
}

.text {
	color: #36677f;
	font-size: 16px;
	width: 70%;
}

.button {
	color: white;
	background-color: #427e9c;
	border: none;
	padding: 8px 24px;
	transition: all 0.4s ease-in-out;
}

.button:hover {
	background-color: #36677f;
}

.whiteTop {
	background-color: #f4f4f4;
}
.whiteBottom {
	background: linear-gradient(to right, #f4f4f4 80%, #e8cfd3 30%);
}

.fotoLarge {
	position: absolute;
	width: 400px;
	height: 500px;
	border: 16px solid #f4f4f4;
	top: 10%;
	left: 40%;
}

.fotoMiddle {
	position: absolute;
	width: 180px;
	height: 260px;
	object-fit: cover;
	border: 8px solid #f4f4f4;
	z-index: 8;
	bottom: 5%;
	left: 35%;
}
